---
layout: none
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}  

  <div id="intro_bac"></div>
  <article>
    
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div id="Chopong_TOC"> <!-- 必须紧挨着 h1-->
          <h1 id="标题">标题</h1>
          <h2 id="自然段1">自然段1</h2>
          <p>何其有幸。仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h3 id="小结1-1">小结1-1</h3>
          <p>仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h3 id="小结1-2">小结1-2</h3>
          <p>仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h2 id="自然段2">自然段2</h2>
          <p>科普是现实和功利主义的，科幻是感性和理想主义的，科普是知识的灌输，而科幻则是心灵的启迪。</p>
          <h3 id="小结2-1">小结2-1</h3>
          <p>仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h3 id="小结2-2">小结2-2</h3>
          <p>仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h4 id="小小结2-2-1">小小结2-2-1</h4>
          <p>这是文小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的字</p>
          <h5 id="重点2-2-1-1">重点2-2-1-1</h5>
          <p>这里有个小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的重点</p>
          <h4 id="小小结2-2-2">小小结2-2-2</h4>
          <p>这是小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的小时就能读完一本作家的实力文字</p>
          <h2 id="自然段3">自然段3</h2>
          <p>从本质上说，金戒指和钻石戒指没有什么不同，都是出于炫耀意义的产物，所以他们怎么能衬托出谁比谁更高贵呢？真正的高贵可能是什么也不戴，却比那些戴满饰品的人更光彩夺目。</p>
          <h2 id="自然段4">自然段4</h2>
          <h2 id="自然段1">自然段1</h2>
          <p>何其有幸感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h3 id="小结1-1">小结1-1</h3>
          <p>仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h3 id="小结1-2">小结1-2</h3>
          <p>仅需短短几小时汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h2 id="自然段2">自然段2</h2>
          <p>科普是现实和功利主义的，科幻是感性和理想主义的，科普是知识的灌输，而的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，科幻则是心灵的启迪。</p>
          <h3 id="小结2-1">小结2-1</h3>
          <p>仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h3 id="小结2-2">小结2-2</h3>
          <p>仅需短,感受他们的心血结晶。感受他思想、或悲欢离思想、或悲欢离合，从文字中汲取养分与力量,感受他们的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h4 id="小小结2-2-1">小小结2-2-1</h4>
          <p>仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          
          <h5 id="重点2-2-1-1">重点2-2-1-1</h5>
          <p>这里有个重点</p>
          <h4 id="小小结2-2-2">小小结2-2-2</h4>
          <p>仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
        
          <h2 id="自然段3">自然段3</h2>
          <p>从本质上说，金戒指和钻石戒指没有什么不</p>
          <h2 id="自然段4">自然段4</h2>
          <p>
            人间的贵有三种，一种是一眼就能看出的贵，这通常是因为其吃穿用度写满了昂贵的标签，这是富贵；一种是第一眼看不出贵，但过后就能感受出来的身份地位、教养学识，这是权贵；还有一种是看多少眼都还是那样耀眼，只因为其迷人的气质和思想，这是高贵.
          </p>
          <h2 id="自然段1">自然段1</h2>
          <p>何其有幸。仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h3 id="小结1-1">小结1-1</h3>
          <p>sss </p>
          <h3 id="小结1-2">小结1-2</h3>
          <h2 id="自然段2">自然段2</h2>
          <p>科普是现实和功利主义的，科幻是感性和理想主义的，科普是知识的灌输，而科幻则是心灵的启迪。</p>
          <h3 id="小结2-1">小结2-1</h3>
          <p>仅需短短几小时，至多几十个小时就能读完一本作家的心血结晶。感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h3 id="小结2-2">小结2-2</h3>
          <p>仅需短汲取养分与力量,感受他们的或磅礴思想、或悲欢离合，从文字中汲取养分与力量</p>
          <h4 id="小小结2-2-1">小小结2-2-1</h4>
      
          <h5 id="重点2-2-1-1">重点2-2-1-1</h5>
          <p>这里有个重点</p>
          <h4 id="小小结2-2-2">小小结2-2-2</h4>
          <p>这是实力文字</p>
          <h2 id="自然段3">自然段3</h2>
          <p>从本质上说，金戒指和钻石戒指没有什么不同，都是出于炫耀意义的产物，所以他们怎么能衬托出谁比谁更高贵呢？真正的高贵可能是什么也不戴，却比那些戴满饰品的人更光彩夺目。</p>
          <h2 id="自然段4">自然段4</h2>
          <p>
            人间的贵有三种，一种是一眼就能看出的贵，这通常是因为其吃穿用度写满了昂贵的标签，这是富贵；一种是第一眼看不出贵，但过后就能感受出来的身份地位、教养学识，这是权贵；还有一种是看多少眼都还是那样耀眼，只因为其迷人的气质和思想，这是高贵.
          </p>
        </div>
      </div>
    </div>
  </article>

  佛寺；爱德华你手里啊 $$ x_2^2 = \sum_1^n $$

  插入行间公式（1）： $$x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}$$

  插入行间公式（2）： \begin{equation}x^{y^z}=(1+{\rm e}^x{-2xy^w})\label{1}\end{equation}。

  插入行内公式： \\(x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}\\)

  <div class="row" >
    <div class="col-md-3 offset-md-9" style="position: fixed;top: 0;">
      <aside id="Chopong_TOC_Position"></aside>
    </div>
  </div>



<link rel="stylesheet" href="./assets/bootstrap-4.6.0/css/bootstrap.css">
<link rel="stylesheet" href="./assets/css/chopong.css">
<link rel="stylesheet" href="./assets/font/font-awesome/css/font-awesome.min.css">

<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 15%; height: .3em;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
<div class="progress-bar bg-success"                                 role="progressbar" style="width: 30%;height: .3em;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
<div class="progress-bar bg-info"                                    role="progressbar" style="width: 20%;height: .3em;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 5%;height: .3em;"  aria-valuenow="5"  aria-valuemin="0" aria-valuemax="100"></div>

<div class="progress" style="height: .3em;">
  <div class="progress-bar"                                            role="progressbar" style="width: 15%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">15</div>
  <div class="progress-bar bg-success"                                 role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-info"                                    role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 5%"  aria-valuenow="5"  aria-valuemin="0" aria-valuemax="100"></div>
</div>


<div class="container">  
  
  
  <div class="list-group flex-column collapse" id="page-1">


  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2021/07/%E5%89%AF%E6%9C%AC.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">科学上网</h4>
      <small>2021-07-23 03:53:13 +0800</small>
    </div>
    <h5>科学上网--基于Shadowsocks和ssh</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}
# 科学上网 #

# 配置服</p>
    <small>postnote活在Linux下Linux</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2021/04/waerdenghu.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">瓦尔登湖liberxue一些所感所想和笔记书签</h4>
      <small>2021-04-27 03:53:21 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1"># 瓦尔登湖 #

这就是作者写瓦尔登湖的目的，他希望每人各显其面、各行其事，找到各自的独特性和价</p>
    <small>梭罗瓦尔登湖</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2021/04/Org%E5%AD%A6%E4%B9%A0.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Org学习</h4>
      <small>2021-04-26 03:53:21 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># 2021-07-22-Org学习 #

Date: 2021-07-22,四,11:42:20
</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2021/04/bookindex.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">liberxue读过书|在读的书</h4>
      <small>2021-04-26 03:53:21 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1"># 标题 #

## 自然段1 ##

何其有幸。仅需短短几小时，至多几十个小时就能读完一本作家的心</p>
    <small>生活阅读随笔</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2021/04/Org%E8%AF%BB%E4%B9%A6%E4%B8%8E%E7%9C%8B%E6%8A%A5.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">书读得怎么样</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># 2021-07-22-Org读书与看报 #

## 安装插件 ##

### 1.1 Org-r</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC9.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs吸入</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC8.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC7.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC6.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC5.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>



   </div>
   
   



  <div class="list-group flex-column collapse" id="page-2">


  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC4.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC3.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合伞伞伞随手</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs哈哈</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC23.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC22.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC21.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs吸入</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC20.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC2.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC19.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC18.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC17.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs吸入</small>
  </a>



   </div>
   
   



  <div class="list-group flex-column collapse" id="page-3">


  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC16.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC15.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC14.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC13.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs吸入</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC12.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC11.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC10.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95%E7%9A%84%E5%89%AF%E6%9C%AC.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs吸入</small>
  </a>






  <a href="/%E6%95%B0%E5%AD%A6%E4%B9%A0%E9%A2%98/2021/04/%E8%A7%A3%E6%9E%90%E5%87%A0%E4%BD%95.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">解析结合</h4>
      <small>2021-04-26 03:53:13 +0800</small>
    </div>
    <h5>看报</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# 2021-07-22-O</p>
    <small>postnoteorgemacs</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2020/01/Python%E6%AD%A3%E5%88%99%E8%A1%A8%E8%BE%BE%E5%BC%8F.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Python正则表达式</h4>
      <small>2020-01-02 19:15:46 +0800</small>
    </div>
    <h5>正则表达式</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}


# Python正则表达式</p>
    <small>postnotepython</small>
  </a>



   </div>
   
   



  <div class="list-group flex-column collapse" id="page-4">


  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2019/10/Win7%E5%9B%BE%E7%89%87%E6%B5%8F%E8%A7%88%E5%99%A8.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Win7图片浏览器</h4>
      <small>2019-10-27 18:09:46 +0800</small>
    </div>
    <h5>升级了Win10却对Win7的图片浏览器念念不忘</h5>
    <p class="mb-1">* TOC
{:toc}

# Win7图片浏览器 #

## 背景 ##

如果你像我一样, </p>
    <small>WindowsPhotoBrowser</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/10/Aria2%E4%B8%8B%E8%BD%BD.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Aria下载</h4>
      <small>2019-10-19 23:02:24 +0800</small>
    </div>
    <h5>使用Aria2下载</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}


## 使用Aria2 进行</p>
    <small>postnoteterminalcommand</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/10/%E6%B8%85%E7%90%86Mac%E5%82%A8%E5%AD%98%E7%A9%BA%E9%97%B4.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">清理Mac空间</h4>
      <small>2019-10-17 15:12:18 +0800</small>
    </div>
    <h5>Clean Mac storage.</h5>
    <p class="mb-1">sudo tmutil listlocalsnapshots /

sudo tmutil list</p>
    <small>postnoteMacStorageCommand</small>
  </a>






  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2019/10/Git%E5%90%88%E5%B9%B6%E6%97%A0%E5%85%B3%E7%9A%84%E5%8E%86%E5%8F%B2.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Git合并无关的历史</h4>
      <small>2019-10-12 19:04:42 +0800</small>
    </div>
    <h5>Merge unrelated histories of git</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

## 关联本地仓库 ##

</p>
    <small>gitgithub</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/08/%E6%89%8B%E5%8A%A8%E7%BC%96%E8%AF%91%E5%AE%89%E8%A3%85Emacs.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Linux下手动编译安装Emacs</h4>
      <small>2019-08-28 16:22:17 +0800</small>
    </div>
    <h5>Install Emacs on Linux manually.</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}


# Linux 下手动安装</p>
    <small>postnotelinuxemacs</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/08/Linux%E4%B8%8B%E5%AE%89%E8%A3%85Sublime.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Linux下安装 Sublime</h4>
      <small>2019-08-28 16:22:17 +0800</small>
    </div>
    <h5>Install Sublime on Linux manually.</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}


# Liunx 下安装并破</p>
    <small>postnotelinuxsublimeeditor</small>
  </a>






  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2019/08/Linux%E5%AE%89%E8%A3%85%E5%AD%97%E4%BD%93.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Linux下的字体安装</h4>
      <small>2019-08-27 17:25:17 +0800</small>
    </div>
    <h5>Font installation on linux</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}


# Linux 下的字体安</p>
    <small>Linux字体</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/07/%E6%9B%B4%E6%94%B9Home%E6%96%87%E4%BB%B6%E5%A4%B9%E4%B8%BA%E4%B8%AD%E6%96%87.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">修改 Home 目录下的文件夹为英文</h4>
      <small>2019-07-30 17:25:17 +0800</small>
    </div>
    <h5>Change Home subdirs name into English</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}


## 修改 Home 下的</p>
    <small>postnoteshelllinuxHome</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/05/%E6%94%BE%E5%BC%83%E4%B8%A4%E7%A7%8D%E9%82%AE%E4%BB%B6%E5%AE%A2%E6%88%B7%E7%AB%AF.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">放弃两种邮件客户端</h4>
      <small>2019-05-03 21:38:41 +0800</small>
    </div>
    <h5>Emacs下的邮件管理有好几个, 折腾来折腾去, 没有好用的.</h5>
    <p class="mb-1"># 放弃两种邮件客户端 #


Emacs下的邮件管理有好几个, 折腾来折腾去没有好用的, 遂放弃.</p>
    <small>postnotemailemacsrmailgnuslinux</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/05/CN-InputDict.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">CN-Input-Dict</h4>
      <small>2019-05-03 15:11:13 +0800</small>
    </div>
    <h5>Chinese input method under fcitx with words dictionary</h5>
    <p class="mb-1">{% include slide-b.html %}

# Table of Contents #
</p>
    <small>postnoteChineseinputdictionaryfcitxsunpinyinpinyinsg2fcitxcreatePYMBsogou</small>
  </a>



   </div>
   
   



  <div class="list-group flex-column collapse" id="page-5">


  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/05/%E4%BF%AE%E5%A4%8DGrub%E5%BC%95%E5%AF%BC.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">修复Grub引导</h4>
      <small>2019-05-02 22:20:13 +0800</small>
    </div>
    <h5>双系统安装后, Grub进不去的问题解决方式</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}
# 修复Grub引导 #

#</p>
    <small>postnotegrub活在Linux下Linux</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/05/%E4%B8%AD%E6%96%87%E8%BE%93%E5%85%A5%E6%B3%95%E8%AF%8D%E5%BA%93.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">中文输入法词库</h4>
      <small>2019-05-02 22:05:32 +0800</small>
    </div>
    <h5>在Linux系统环境下, 使用fcitx框架下的输入法, 进行安装词库, 优化输入体验</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}
# 中文输入法词库 #

##</p>
    <small>postnoteLinuxfcitxChinesedictionarysougousunpinyin</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/05/N%E5%8D%A1%E9%A9%B1%E5%8A%A8.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">N卡驱动</h4>
      <small>2019-05-02 21:23:25 +0800</small>
    </div>
    <h5>如何在Deb系統安装N卡驱动, A卡就算了.</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# N卡驱动 #
&gt; 说明:</p>
    <small>postnoteLinuxN卡显卡</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/05/shell%E5%91%BD%E4%BB%A4.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">shell命令</h4>
      <small>2019-05-02 19:20:17 +0800</small>
    </div>
    <h5>几个比较常用的Shell命令</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}

# shell命令 #

#</p>
    <small>postnoteshelllinuxterminalcommand</small>
  </a>






  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2019/05/%E5%AE%89%E8%A3%85Linux%E5%90%8E%E7%9A%84%E9%83%A8%E7%BD%B2.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">安装Linux后的部署</h4>
      <small>2019-05-02 18:42:04 +0800</small>
    </div>
    <h5>一些需要安装的软件和配置</h5>
    <p class="mb-1"># 安装Linux后的部署 #

* TOC
{:toc}

### 1. 安装firmware-i</p>
    <small>shellLinux</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/05/%E7%BE%8E%E5%8C%96shell.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">美化shell</h4>
      <small>2019-05-02 18:14:49 +0800</small>
    </div>
    <h5>Oh My Zsh</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}
# 美化shell #

##</p>
    <small>postnoteshellconfigzshterminal</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/05/%E4%BD%BF%E7%94%A8git.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">使用git</h4>
      <small>2019-05-02 16:03:38 +0800</small>
    </div>
    <h5>使用git命令行对github的仓库进行管理</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}
# 使用git #

## 使</p>
    <small>postnotegitgithublinuxshell</small>
  </a>






  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2019/05/%E5%88%9B%E5%BB%BAJekyll%E4%B8%AA%E4%BA%BA%E5%8D%9A%E5%AE%A2.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">创建Jekyll个人博客</h4>
      <small>2019-05-02 15:12:18 +0800</small>
    </div>
    <h5>利用Github Pages和Jekyll创建个人博客, 你值得拥有!</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}
# 创建Jekyll个人博客 </p>
    <small>postnote活在Linux下JekyllBlogRubyGemgithubgit</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2019/05/%E7%B3%BB%E7%BB%9F%E5%AE%89%E8%A3%85.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">系统安装</h4>
      <small>2019-05-01 06:28:19 +0800</small>
    </div>
    <h5>安装Deepin系统</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}
# 系统安装 #

Linux</p>
    <small>deepinLinux</small>
  </a>






  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2019/04/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">科学上网</h4>
      <small>2019-04-26 03:53:13 +0800</small>
    </div>
    <h5>科学上网--基于Shadowsocks和ssh</h5>
    <p class="mb-1"># Table of Contents #
* TOC
{:toc}
# 科学上网 #

# 配置服</p>
    <small>postnote活在Linux下Linux</small>
  </a>



   </div>
   
   



  <div class="list-group flex-column collapse" id="page-6">


  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2019/04/%E4%B8%AD%E6%96%87%E8%BE%93%E5%85%A5.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Linux中文输入</h4>
      <small>2019-04-22 17:14:42 +0800</small>
    </div>
    <h5>linux在fcitx框架下, 进行中文输入</h5>
    <p class="mb-1">* TOC
{:toc}

# 中文输入 #

## 1. Linux下的中文输入 ##

在英文版</p>
    <small>中文输入Linuxinputchineselocale</small>
  </a>






  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2017/07/memcacheandredis.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Redis,Memcache的区别和具体应用场景及选择</h4>
      <small>2017-07-30 18:06:42 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">#  Memcached简介
Memcached是以LiveJurnal旗下Danga Intera</p>
    <small>Redismemcacheapache2owncloud负载均衡stackoverflow</small>
  </a>






  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2017/07/gitignore.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Git忽略规则及.gitignore规则正确姿势</h4>
      <small>2017-07-17 07:45:56 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1"># 实现需求
在git中如果想忽略掉某个文件或者文件夹，不想这个文件或者文件夹提交到版本库中，可以使</p>
    <small>githubgitgitignoreGit忽略规则</small>
  </a>






  <a href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2017/07/nevada-on-the-way-to-nevada.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Nevada: On the way to Nevada</h4>
      <small>2017-07-11 17:50:00 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">Flexitarian hella quinoa, stumptown chillwave squi</p>
    <small>TravelNevada</small>
  </a>






  <a href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2017/07/indonesia-rocky-mountains.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Indonesia: Rocky mountains</h4>
      <small>2017-07-10 17:51:00 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">Flexitarian hella quinoa, stumptown chillwave squi</p>
    <small>TravelIndonesiaMountains</small>
  </a>






  <a href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2017/07/malaysia-free-swimming.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Malaysia: Free swimming</h4>
      <small>2017-07-08 17:53:00 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">Flexitarian hella quinoa, stumptown chillwave squi</p>
    <small>TravelMalaysiaBlogging</small>
  </a>






  <a href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2017/07/sweden-beautiful-forest.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Sweden: Beautiful forest</h4>
      <small>2017-07-05 17:52:00 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">Flexitarian hella quinoa, stumptown chillwave squi</p>
    <small>SwedenTravelForest</small>
  </a>






  <a href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2017/07/texas-grand-canyon.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Texas: Grand Canyon</h4>
      <small>2017-07-04 17:54:00 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">Flexitarian hella quinoa, stumptown chillwave squi</p>
    <small>TravelTexasCanyon</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2017/07/meilideshijie.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">《美丽新世界》之幸福和自由思考</h4>
      <small>2017-07-04 07:13:54 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">书中的美丽新世界，人不是父母生的，而是被培育出来的，人们没有照顾老人的烦恼，也没有婚姻的束缚，甚至不</p>
    <small>美丽新世界</small>
  </a>






  <a href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2017/07/the-wonderful-himalayan.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">My first trip: The wonderful Himalayan</h4>
      <small>2017-07-03 17:55:00 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">Flexitarian hella quinoa, stumptown chillwave squi</p>
    <small>TravelBloggingMountains</small>
  </a>



   </div>
   
   



  <div class="list-group flex-column collapse" id="page-7">


  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2017/06/xuanhuanzuole.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">毛姆《寻欢作乐》（百读文库）liberxue一些所感所想和笔记书签</h4>
      <small>2017-06-28 07:43:54 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">#### 背景来源

《寻欢作乐》，并不是专门为了描述爱德华·德里菲尔德和阿尔罗伊·基尔这两个人物。</p>
    <small>寻欢作乐毛姆百读文库</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2017/06/sikaobook.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">思考快与慢</h4>
      <small>2017-06-27 00:00:00 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">- 晚饭后，我常常有跑步的习惯。坚持跑步让我感到精力充沛，既能保持精神的专注度，又利于提高身体的感应</p>
    <small>思考快与慢</small>
  </a>






  <a href="/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0/2017/06/santibook.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">看完三体，三体Ⅱ·黑暗森林，三体Ⅲ·死神永生全集一些所感所想</h4>
      <small>2017-06-20 00:00:00 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">#### 三体看完了，有些意犹未尽 

特别是在这么一个雨夜，好像和小雨一样，思绪万千，缠缠绵</p>
    <small>三体黑暗森林死神刘慈欣面壁者智子</small>
  </a>






  <a href="/%E6%8A%80%E6%9C%AF%E5%B7%A5%E5%85%B7/2017/03/githubyaunchengjiami.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">GitHub当作私密的版本控制系统远端版本库私有化哈</h4>
      <small>2017-03-07 00:00:00 +0800</small>
    </div>
    <h5></h5>
    <p class="mb-1">## 目的

我打算把所有服务器的配置文件用git管理起来，这样可以记录配置变更状况。 但是有一个</p>
    <small>githubgit-cryptencfsgpggit-remote-gcrypsshfs</small>
  </a>




</div></div>

<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" id="button-pre">Previous</a></li>
    
    <li class="page-item"><a class="page-link" id="button-1">1</a></li>
    
    <li class="page-item"><a class="page-link" id="button-2">2</a></li>
    
    <li class="page-item"><a class="page-link" id="button-3">3</a></li>
    
    <li class="page-item"><a class="page-link" id="button-4">4</a></li>
    
    <li class="page-item"><a class="page-link" id="button-5">5</a></li>
    
    <li class="page-item"><a class="page-link" id="button-6">6</a></li>
    
    <li class="page-item"><a class="page-link" id="button-7">7</a></li>
    
    <li class="page-item"><a class="page-link" id="button-next">Next</a></li>
  </ul>
</nav>


<script src="./assets/js/jquery.js"></script>
<script src="./assets/bootstrap-4.6.0/js/bootstrap.js"></script>

<script src="./assets/js/chopong.js"></script>

<script type="text/javascript">
  chopong_Toc('Chopong_TOC', {
    'level': 6,
    'targetId': 'Chopong_TOC_Position'
  });

  $('body').scrollspy({ target: '#navbar-toc' });
  $('[data-spy="scroll"]').each(function () {var $spy = $(this).scrollspy('refresh')})

  window.onscroll = function(){
	chopong_showSubToc();
	chopong_scrollprogress();
  
  }
  
  chopong_pagination()

</script>




</body>

  <style>



    body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 10px;
}

.nav>li {
    position: relative;
    font-size: 10px;
    line-height: 1em;
    padding-top:1px ;
    padding-bottom: 1px;
}

.nav>li>a {
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}
.nav>li>ul >li>ul >li>ul >li>a {
    padding-left: 30px;
}

 .nav>.active>ul {
    display: block;
}


 .nav>.active:focus>a,  .nav>.active:hover>a,  .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}

 .nav .nav>.active:focus>a,  .nav .nav>.active:hover>a, .nav .nav>.active>a {
    padding-left: 28px;
    font-weight: 500;
}

  </style>

</html>