---
layout: none
article_num_per_block: 10
tag_cloud_count_default: 5
recent_articles_num: 10

carousel_slide_num: 5
carousel_categories_default:

---

<!---
配置开始
----->
{% assign article_num_per_block = page.article_num_per_block | default: 5 %}
{% assign tag_cloud_count_default = page.tag_cloud_count_default | default: 3 %}
{% assign recent_articles_num = page.recent_articles_num | default: 10 %}
{% assign carousel_categories = page.carousel_categories_default %}

{% include head.html %}


{% include nav.html %}



{% assign groups = site.posts %}
{% for post in groups %}
     {% assign tags = tags | concat: post.tags | uniq %}
{% endfor %}


{% assign tag_string = "" %}
{% assign max_tag_count = 0 %}
{% for tag in tags %}
  {% assign tag_count = 0%}
  {% for post in groups %}
    {% if post.tags contains tag %}
      {% assign tag_count = tag_count | plus: 1%}
    {% endif %}
  {% endfor %}
  {% assign tag_string = tag_string | append: "," | append: tag_count %}
  {% assign max_tag_count = tag_count | at_least: max_tag_count | times: 1.0 %}
{% endfor %}
<!-- 产生一个以 空白 开头的数组 -->
{% assign tag_values = tag_string | split: ',' %}

{% if carousel_categories %}
    {% assign carousel_group = site.data.carouseldata | where: 'categories', carousel_categories %}
  {% else %}
    {% assign carousel_group = site.data.carouseldata %}
{% endif %}
{% assign carousel_num_minus_one = carousel_group | size | minus: 1 %}

<div class="CarouselBox">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for car_num in (0..carousel_num_minus_one) %}
      <li data-target="#myCarousel" data-slide-to="{{ car_num }}" class="{% if car_num == 0 %} active {% endif %}"></li> 
    {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for car_num in (0..carousel_num_minus_one) reversed %}
    <div class="carousel-item {% if car_num == carousel_num_minus_one %} active {% endif %}">
      <img src="{{ carousel_group[car_num].background-img | default: "./img/background/home-bg2.jpg"}}">
      <div class="carousel-caption d-none d-md-block">

          <h1>{{- carousel_group[car_num].title -}}</h1>
          <p> {{- carousel_group[car_num].subtitle -}}</p>
          <p><a class="frontconbtn" href="{{ carousel_group[car_num].btn-url }}" role="button">
            {{- carousel_group[car_num].btn-name | default: "Learn More" -}}
          </a></p>
      
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="carousel-control-prev" type="button" data-target="#myCarousel"  data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </div>
  <div class="carousel-control-next" type="button" data-target="#myCarousel"  data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </div>
</div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-2 content-box .col-xs-12 .col-sm-6">
      <div class="row">
        {% for category in site.categories %}
        <div class="col-md-6 items-box .col-xs-12 .col-sm-6">
          <div class="row row-cols-2 item-title-line">
            <div class="col-md-9 item-title .col-xs-12 .col-sm-6">
              <i class="fa fa-book" style="margin-right: .3em;"></i><span class="font-bold">{{ category.first }}</span>
            </div>
            <div class="col-md-3 item-title-info .col-xs-6 .col-sm-4">
              <a href="{{ category.first | prepend: "./category/" }}.html">更多</a>
            </div>
          </div>
          {% for post in category.last limit:article_num_per_block %}
          <div class="row row-cols-2 item-ul-line">
            <div class="col-md-9 item-ul-list .col-xs-12 .col-sm-6">
              <a href="{{ post.url }}"><i class="fa far fa-hand-o-right" style="margin-right: .3em;"></i>{{ post.title}}</a>
            </div>
            <div class="col-md-3 item-ul-date .col-xs-6 .col-sm-4">{{ post.date | date:"%Y-%m-%d"}}</div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3 extra-box">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          {% include info.html %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 recent-article-box">
          <div class="row row-cols-2 recent-article-box-title-line">
            <div class="col-md-9 recent-article-box-title">
              <i class="fa fa-book" style="margin-right: .3em;"></i><span class="font-bold">最新文章</span>
            </div>
            <div class="col-md-3 recent-article-box-title-info .col-xs-6 .col-sm-4">
              <a href="#">+</a>
            </div>
          </div>
          {% for post in site.posts limit:recent_articles_num %}
          <div class="row row-cols-2 item-ul-line">
            <div class="col-md-9 item-ul-list .col-xs-12 .col-sm-6">
              <a href="{{ post.url }}"><i class="fa far fa-hand-o-right" style="margin-right: .3em;"></i>{{ post.title}}</a>
            </div>
            <div class="col-md-3 item-ul-date .col-xs-6 .col-sm-4">{{ post.date | date:"%Y-%m-%d"}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 archived-box">
          <div class="row row-cols-4">
            {% assign tag_cloud_count = 0 %}
            {% for tag in tags %}
            {% assign tag_cloud_count = tag_cloud_count | plus: 1 %}
            {% assign tag_value = tag_values[tag_cloud_count] | abs %}
            {% if tag_value >= tag_cloud_count_default %}
            <div class="col-md-3 cloud-tags">
              {% assign tag_per = tag_value | divided_by: max_tag_count %}
              {% assign tag_per_reverse = 1 | minus: tag_per %}
              {% assign tag_per_color = max_tag_count | minus: tag_value | divided_by: max_tag_count | times: 255 %}
              <div class="post-tags-item" href="" style="background-color:rgb(0,0,0,{{ tag_per }})">
                <span class="badge badge-left tag_cloud_num" style="background-color:rgb(255,142,0,{{ tag_per }})" >{{- tag_value -}}</span>
                <span class="tag_cloud_tag" >{{- tag -}}</span>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include footer.html %}
