<!-- Head for css file Foot for script file this must before </body>-->


 <!-- jQuery -->
 <script src="{{"/assets/js/jquery.js" | prepend: site.baseurl | prepend: site.url }}"></script>
 <script src="{{"/assets/js/typed.js"  | prepend: site.baseurl | prepend: site.url }}"></script>
 <script src="{{"/assets/js/popper.js" | prepend: site.baseurl | prepend: site.url }}"> </script>
 
<!-- Bootstrap Core CSS -->
 <script src="{{ "/assets/bootstrap-4.6.0/js/bootstrap.bundle.js" | prepend: site.baseurl | prepend: site.url }}"></script>
 <script src="{{ "/assets/bootstrap-4.6.0/js/bootstrap.js" | prepend: site.baseurl | prepend: site.url }}"></script>

  <!-- Math Jax -->
  <!-- MathJax On line way -->
  <!--
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  -->

  <!-- MathJax Off line way -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "AMS" } },
      displayAlign: "left",
      displayIndent: "2em",
      showProcessingMessages: false,//去除左下角加载框
      messageStyle: "none",
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath:  [ ["$latex ", "$"] , ["$", "$"]],//可以自定义行内公式的标识
        displayMath: [ ["$$","$$"] ],//行间公式同理
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'],//不渲染这些标签内的东西
        ignoreClass:"comment-content"
      },
      "HTML-CSS": {
        availableFonts: ["STIX","TeX"],
        showMathMenu: false//不显示右键菜单
      }
    });
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
  </script>
  <script src="{{ '/plugins/MathJax/es5/tex-mml-chtml.js?config=TeX-AMS-MML_HTMLorMML' | prepend: site.baseurl | prepend: site.url }}"></script>

<!-- highlight Code with highlightjs -->
<script src="{{ '/plugins/highlight/highlight.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/plugins/highlight/highlightjs-line-numbers.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script>
  hljs.highlightAll();
  hljs.initLineNumbersOnLoad();
  hljs.configure({ ignoreUnescapedHTML: true })
</script>

<!-- Custom search plugin  -->
 <script src="{{ '/plugins/search/bootstrap-typeahead.js' | prepend: site.baseurl | prepend: site.url }}"></script>
 <script src="{{ '/plugins/search/search.js' | prepend: site.baseurl | prepend: site.url }}"></script>

 <!-- Custom chopong js  -->
 <script src="{{ '/assets/js/clean-blog.js' | prepend: site.baseurl | prepend: site.url }}"></script>
 <script src="{{ '/assets/js/chopong.js' | prepend: site.baseurl | prepend: site.url }}"></script>