<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="copyright col-md-10 offset-md-1">
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}/{{ site.project_repository}}">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
        {% if site.rss %}
          <a href="{{ site.url }}/assets/feed.xml">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-feed fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
      </div>
    </div>
    <p class="copyright text-muted"> Copyright © <a href="{{ post.url }}" target="">半路出家</a></p>
  </div>
</footer>