<!-- Head for css file Foot for script file -->


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="description" content="{{ site.description }}">
  <link rel='shortcut icon' type='image/png' href='{{ site.baseurl }}/assets/logo/favicon.ico' />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}/{{ site.baseurl }}/{{ page.url }}" />
  <meta property="og:image" content="{{ site.url }}/{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}{{ site.sidebar-avatar }}">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Bootstrap Core CSS -->
  <link href="{{ "/assets/bootstrap-4.6.0/css/bootstrap.css"          | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet" type="text/css"/>

  <!-- Adjust Colors -->
  <link rel="stylesheet" href="{{ "/assets/colorscheme.scss"          | prepend: site.baseurl | prepend: site.url }}">

  <!-- Custom Fonts -->
  <link href="{{ "/assets/font/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet" type="text/css"/>
  <link href="{{ "/assets/css/googlelora.css"                         | prepend: site.baseurl | prepend: site.url }}" rel='stylesheet' type='text/css'/>
  <link href="{{ "/assets/css/googleopensans.css"                     | prepend: site.baseurl | prepend: site.url }}" rel='stylesheet' type='text/css'/>

  <!-- highlight Code with highlightjs -->
  <link href="{{ "/plugins/highlight/styles/xcode.min.css"            | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet" type="text/css"/>

  <!-- Custom Theme css -->
  <link href="{{ "/assets/css/clean-blog.css"                         | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet" type="text/css"/>

  <!-- Custom chopong css  -->
  <link href="{{ "/assets/css/chopong.css"                            | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet" type="text/css"/>

  {% seo %}
  {% include analytics.html %}

</head>
