<nav id="cp-navbar-box" class="navbar navbar-expand-lg" style='background-color:transparent'>
  <a class="navbar-brand" href="{{ site.baseurl }}/homepage.html"><img src="{{site.baseurl}}/img/logos/v1alt.png"
      height="30px" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars fa-2x"
        style="font-size:1em;padding:.3em;border-radius:.3em ;background-color:rgb(255,142,0);"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item"><a href="{{ site.baseurl }}/">博客主页</a></li>
      {% for category in site.categories %}
      <li class="nav-item">
        <a href="{{site.baseurl}}/category/{{ category | first }}.html">{{ category | first }}</a>
      </li>
      {% endfor %}
     
      <li class="nav-item" style="display: none;" id="search-tool">
          <input class="search-content" placeholder="分类 标题 标签 日期" aria-label="Search">
      </li>
      <li class="nav-item">
        <a id="search-btn" title="双击Ctrl试一下" onclick="toc_toggle('search-tool')">文章检索</a>
      </li>
    </ul>
  </div>
</nav>