@font-face {
	font-family: FontAwesome;
	src: url('../font/font-awesome/fonts/fontawesome-webfont.eot');
}

body{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: rgb(235, 235, 235);
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}

a:hover, a:focus {
    color: rgb(255,142,0);
}
a:-webkit-any-link {text-decoration: none;}

::selection {
    color: white;
    text-shadow: none;
    background: rgb(255,142,0);
}

ul#markdown-toc {
	width:300px;
    position:fixed;
    left:30px;
	bottom: 70px;
	padding:20px;
	display: block;
	color: #4c4d4d;
	background-color: rgb(235, 235, 235);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 0.3em;
	box-sizing: border-box;
	height: 500px;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 9999;
}

ul#markdown-toc



ul#markdown-toc>li a{	color: rgb(23, 24, 24);	font-size: 20px;}
ul#markdown-toc>li ul>li a{	color: rgb(62, 63, 63);	font-size: 18px;}
ul#markdown-toc>li ul>li ul>li a{	color: rgb(76,77,77);	font-size: 16px;}
ul#markdown-toc>li ul>li ul>li ul>li a{	color: rgb(76,77,77);	font-size: 14px;}
ul#markdown-toc>li ul>li ul>li ul>li ul>li a{	color: rgb(76,77,77);	font-size: 12px;}
ul#markdown-toc>li ul>li ul>li ul>li ul>li ul>li a{	color: rgb(76,77,77);	font-size: 10px;}


ul#markdown-toc>li a:hover{
	color: #f2f2f2;
	border-radius: 0.3em;
	padding: 2px;
	background-color: rgb(255,142,0);
}


ul#markdown-toc>li::marker { 	content: "\f0ca  ";color: rgb(62, 63, 63);font-family: "FontAwesome";}
ul#markdown-toc>li ul>li::marker {	content: '\f0a9  ';	color: gray; font-family: "FontAwesome";}
ul#markdown-toc>li ul>li ul>li::marker {	content: '\f061  ';	color: gray; font-family: "FontAwesome";}
ul#markdown-toc>li ul>li ul>li ul>li::marker {	content: '\f18e  ';	color: gray; font-family: "FontAwesome";}
ul#markdown-toc>li ul>li ul>li ul>li ul>li::marker {	content: '> ';	color: gray; font-family: "FontAwesome";}
ul#markdown-toc>li ul>li ul>li ul>li ul>li ul>li::marker {	content: '+ ';	color: gray; font-family: "FontAwesome";}
ul#markdown-toc>li ul>li ul>li ul>li ul>li ul>li ul>li::marker { 	content: '→ ';	color: gray;  font-family: "FontAwesome";}


.toc_button{
	font-size: 15px;
	position: fixed;
	bottom: 30px;
	left: 30px;
	padding: 0.2em 0.25em 0.15em;
	border-radius: 0.3em ;
	background-color: rgb(235, 235, 235);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 9999;
}

.toc_button:hover{
	color: #f2f2f2;
	background-color: rgb(255,142,0);
	border-radius: 0.3em;
	box-shadow: 0 4px 8px 0 rgba(255, 142, 0, 0.2), 0 6px 20px 0 rgba(255, 142, 0, 0.19);
}

/*
#cb-search-btn{
	font-size: 15px;
	position: fixed;
	bottom: 30px;
	left: 80px;
	padding: 0.2em 0.25em 0.15em;
	border-radius: 0.3em ;
	background-color: rgb(235, 235, 235);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 9999;
}

#cb-search-btn:hover{
	color: #f2f2f2;
	background-color: rgb(255,142,0);
	box-shadow: 0 4px 8px 0 rgba(255, 142, 0, 0.2), 0 6px 20px 0 rgba(255, 142, 0, 0.19);
}
*/

#cb-search-content{z-index: 9999;}
#cb-search-tool > ul{z-index: 9999;position: absolute;}
#cb-search-tool > ul > li{z-index: 9999;}
#cb-search-tool > ul > li.active > a{ color: white; background-color: rgb(255,142,0);}
#cb-close-btn{	position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;  z-index: 9997;}

#back_to_top{
	font-size: 15px;
	position: fixed;
	bottom: 30px;
	left: 130px;
	padding: 0.2em 0.25em 0.15em;
	border-radius: 0.3em ;
	background-color: rgb(235, 235, 235);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 9999;
}

#back_to_top:hover{
	color: #f2f2f2;
	background-color: rgb(255,142,0);
	box-shadow: 0 4px 8px 0 rgba(255, 142, 0, 0.2), 0 6px 20px 0 rgba(255, 142, 0, 0.19);
}


/* Nav Bar start  */

div#navbar.navbar-collapse.collapse.in> ul.nav.navbar-nav{
	top: 35px;
	right: 25px;
}
div#navbar.navbar-collapse.collapse.in> ul.nav.navbar-nav>li{
	padding-top: 3px;
}
div#navbar.navbar-collapse.collapsing> ul.nav.navbar-nav{
	top: 35px;
	right: 25px;
}
div#navbar.navbar-collapse.collapsing> ul.nav.navbar-nav>li{
	padding-top: 3px;
}
.navbar-wrapper{
	position: fixed;
	z-index: 9999;
	left: 0px;
	right: 0px;
}

.navbar-inverse {
	background: none;
	border:none;
}

#navbar{
	border: none;
}

#navbar > ul {
	position: fixed;
	right: 1em;
	top: 15px;
}
#navbar > ul > li{
	margin-left: 3px;
}
#navbar > ul > li > a{
	padding:5px 8px;
	border-radius: 5px;
}

div.navbar-wrapper > div{
	margin-right: 2em;
}

div.navbar-wrapper > div > nav > div > a > img{
	position: fixed;
	left: 1em;
	border-radius: 5px;
	background-color: rgb(0, 0, 0, 0.5);
}

div.navbar-wrapper > div > nav > div > a > img:hover{
	color: #f2f2f2;
	background-color: rgb(255,142,0);
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(255, 142, 0, 0.2), 0 6px 20px 0 rgba(255, 142, 0, 0.19);
}

.navbar-inverse .navbar-nav > li > a { 
	color: #f2f2f2;
	font-size: 2px;
	border-radius: 0.3em;
	background-color: rgb(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-nav > li > a:hover{
	color: #f2f2f2;
	background-color: rgb(255,142,0);
	border-radius: 0.3em;
	box-shadow: 0 4px 8px 0 rgba(255, 142, 0, 0.2), 0 6px 20px 0 rgba(255, 142, 0, 0.19);
}


div.navbar-wrapper > div > nav > div > div.navbar-header > button{
	position: fixed;
	top: 5px;
	right: 5px;
	border: none;
	background-color: rgb(0, 0, 0, 0.5);
}


div.navbar-wrapper > div > nav > div > div.navbar-header > button:hover{
	color: #f2f2f2;
	background-color: rgb(255,142,0);
	box-shadow: 0 4px 8px 0 rgba(255, 142, 0, 0.2), 0 6px 20px 0 rgba(255, 142, 0, 0.19);
}

#myCarousel{
	position: relative;
	top: 0px;
}

.carousel-inner > .item{
	height: 500px;
}
.carousel-inner > .item.active{
	height: 500px;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel-inner > .item.active > img, .carousel-inner > .item.active > a > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer{
	position: relative;
	bottom: 0px;
	width: 100%;
}


/* main content */
.font-size3{
	font-size: 14px;
}

.font-size2{
	font-size: 12px;
}

.font-size1{
	font-size: 10px;
}

.font-bold{
	font-weight: bold;
}

.items-box{
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.item-title-line,.recent-article-box-title-line{
	font-size: 14px;
	line-height: 30px;
	border-left: .3em solid rgb(255,142,0);
	background-color: rgb(247,247, 247);
	border-bottom: .05em solid rgb(221,221,221);
}

.item-title,.recent-article-box-title{
	text-align: left;
	padding-left: .5em;
}

.item-title-info,.recent-article-box-title-info{
	font-size: 10px;
	text-align: right;
	padding-right: 20px;
}

.item-ul-line{
	background-color: rgb(255,255,255);
	line-height: 30px;
	border-bottom: dashed rgb(221,221,221) 1px;
}

.item-ul-list{
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item-ul-list>a:hover{
	color: rgb(255,255,255);
	background-color: rgb(255,142,0);
	padding: 2px;
	border-radius: .2em;
}
.item-ul-date{
	font-size: 10px;
	padding-right: 20px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.info-box{
	margin-top: 1em;
	background-color: rgb(255,255,255);
}

.recent-article-box{
	margin-top: 1em;
}

.archived-box{
	margin-top: 1em;
}

.cloud-tags{
	margin-top: .3em;
	line-height: 1.2em;
	padding-left: .2em;
	padding-right: .2em;
}


.tag_cloud_num{
	color: black;
	border-radius: .3em;
	margin-left: .5em;
	font-weight: bold;
	padding-left: .2em;
	padding-right: .2em;
}

.tag_cloud_tag{
	color: white ;
	font-weight: bold;
	padding-left: .1em;
}


.post-tags-item{
	border-radius: .3em;
	font-size: 8px;
	overflow: hidden;
	white-space: nowrap;
}

.number-col-div{
	text-align: center;
	font-size: 12px;
	color: rgb(255,255,255);
	font-weight: bold;
	background-color: rgb(0, 0, 0);
	padding-top: 3px;
	padding-bottom: 3px;
}




.visit-img-box{
    width: 100%;
    height: auto;
    overflow:hidden;
}
.visit-img-box img{
    width: 100%;
}
.headimg-box{
    width: 84px;
    height: 84px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px auto;
    background-color: #d4d4d4;
    box-shadow: 0px 0px 6px 1px #424242;
    position: relative;
	border: 2px solid rgb(255,142,0,0.3);
    top: -42px;
}
.headimg-box img{
    width: 80px;
}
.nickname{
    margin-top: -30px;
    font-size: 16px;
    font-weight: bold;
}
.nickname span img{
    transform: rotate(45deg);
}
.mine-msg{
    padding-top: 0px;
}
.mine-msg div{
    line-height: 28px;
	overflow: hidden;
}

.mine-msg div {
    line-height: 28px;
}

.row-align {
	text-align: center;
}

.text-white{
	color: white;
}
.text-center{
	height: 100%;
}
.text-rounded{
	border-radius: 3em;
}
.cp-left{
	text-align: left;
}
.cp-center{
	text-align: center;
}
.cp-right{
	text-align: right;
}

.number-box{
	background-color: rgb(0, 0, 0);
}

span#cp_typed{
	color: black;
	background-color: rgb(255,142,0);
	border-radius: .3em;
	padding: 0px .2em;
}
span.typed-cursor{
	color: rgb(255,142,0);
}

.cp_vCenter{
	position: fixed;
	top: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
}

video{
	width: 100% ;
	height: 100%;
	object-fit: cover;
}

div#video_box{
	height: 100vh;
}

.title_words{
	color: #f2f2f2;
	padding: 2em;
	margin: 2em 3em 2em 3em;
	background-color: rgb(0, 0, 0, 0.5);
	border-radius: .2em;
}

.container-my-auto{
	padding: 0px;
}

.frontblogbtn{
	color: black;
	font-weight: bold;
	padding: .5em;
	margin-right: 1em;
	border-radius: .3em;
	background-color: rgb(255,142,0,.7);
}
.frontblogbtn:hover{
	background-color: rgb(0, 0, 0, 0.5);
	color: rgb(255,142,0);
}
.frontconbtn{
	color: rgb(255,142,0);
	font-weight: bold;
	padding: .5em;
	margin-left: 1em;
	border-radius: .3em;
	background-color: rgb(0, 0, 0, 0.5);
}
.frontconbtn:hover{
	background-color: rgb(255,142,0,0.7);
	color: rgb(0, 0, 0);
}
.frontbtn{
	margin-bottom: 3em;
}